@{
    ViewBag.Title = "GodRoom";
}
@Scripts.Render("~/bundles/jquery")

@using (Html.BeginForm())
{
    

    <h2>GodRoom</h2>
    <div>
        @Html.Label("Rechercher un joueur par son nom : ")
        @Html.TextBox("TB_Rechercher")
        <button type="submit" name="Submit" value="Rechercher">Rechercher</button>
        <button type="submit" name="Submit" value="Tout">Afficher Tout</button>
    </div>
    <p>Tous les joueurs sont ici:</p>
    <div id="Liste">
        @Html.Partial("Liste")
    </div>
}

<script type="text/javascript">
    var timer;
    function ChargeVuePartielle() {
        $.ajax({
            url: '@Url.Action("Liste")',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#Liste').html(result);
            }
        });
    }

    ChargeVuePartielle();
    $(function () {
        timer = window.setInterval("ChargeVuePartielle()", 2000);
    });
</script>