
@{
    ViewBag.Title = "Pokemons";
}


@using (Html.BeginForm())
{
    <div class="container">
        <h2>Pokemons</h2>
        <div>
            @Html.Label("Rechercher un Pokémon par nom : ")
            @Html.TextBox("TB_RechercherPokemon")
            <button type="submit" name="Submit" value="Rechercher">Rechercher</button>
            <button type="submit" name="Submit" value="Tout">Rechercher tout</button>
        </div>
        <p>Tous les pokémons présents dans le jeu sont présents ici avec leur statistiques:</p>


        <table class="table">
            <thead>
                <tr >

                    <th>#</th>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Vie</th>
                    <th>Attaque</th>
                    <th>Defense</th>
                    <th>Vitesse</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (Pokemon a in ViewBag.Pokemons)
                {
                    <tr>
                        <td>@a.Id</td>
                        <td><img id="@i" class="pokThumbnail" src="@Url.Content("../../Pokémons/" + @a.PHOTO)" /></td>
                        <td>@a.NOM_POKEMON</td>
                        <td>@a.TYPE</td>
                        <td>@a.VIE</td>
                        <td>@a.ATTAQUE</td>
                        <td>@a.DEFENSE</td>
                        <td>@a.VITESSE</td>
                        <td>@a.PRIX</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
}